* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.user {
  border: 2px solid red;
  border-radius: 25px;
  background-color: rgba(22, 22, 100, 0.562);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  margin: 2rem 0 0 5rem;
  min-width: 870px;
}

.title {
  border: 2px solid red;
  border-radius: 25px;
  background-color: rgb(255, 68, 0);
  padding: 2rem;
  margin-left: -5rem;
  min-width: 340px;
  text-align: center;
}

.contactSection {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.contactBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  /* border: 1px solid red; */
}

.contactBody1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  /* border: 1px solid red; */
}

.contactBody2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
  gap: 5rem;
  margin-bottom: 1rem;
}

.companySection {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 1rem;
}

.companyBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  /* border: 1px solid red; */
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.addressSection {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  /* border: 1px solid red; */
  margin-top: 1rem;

}

.addressBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
